<%= form_for @asset, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :uploaded_file, "File" %><br />
    <%= f.file_field :uploaded_file %>
  </p>
  <p>
    <%= f.hidden_field :folder_id %>
  </p>
  <p><%= f.submit "Upload" %></p>
<% end %>
